[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
urljoin = "*"
pendulum = "*"
googlemaps = "*"
requests = "*"
selenium = "*"
chromedriver-binary = "*"
lxml = "*"
pyyaml = "*"
pygithub = "*"
backoff = "*"
flake8 = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
