[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
urljoin = "*"
pendulum = "*"
pymongo = "*"
googlemaps = "*"
requests = "*"
selenium = "*"
chromedriver-binary = "*"
retrying = "*"
lxml = "*"

[dev-packages]
